.Result {
  display: flex;
  width: 100vw;
  height: 130vh;
  background-color: #293241;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.rsTop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 30vh;
  margin-top: -20px;
}

.rsMid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 60vh;
  color: white;
  margin-top: -30px;
}

.rsBot {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 40vh;
  margin-top: 50px;
}

.rsBtnCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.reBtn {
  background-color: #e0fbfc;
  color: #293241;
  width: 220px;
  border-radius: 50px;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: "Black Han Sans", sans-serif;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}

.explainCon {
  color: white;
  margin-top: 20px;
  width: 300px;
}

p {
  margin: 0;
}

.typeTitle {
  font-family: "Black Han Sans", sans-serif;
  font-size: 20px;
}

.typeName {
  /* font-family: "Gamja Flower", cursive; */
  font-family: "Poor Story", cursive;
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 30px;
  margin-top: 4px;
}

.ex {
  font-family: "Gowun Dodum", sans-serif;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 14px;
}

.imgCon1 {
  width: 350px;
  height: 200px;
  border: 1px white solid;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.snsBtn {
  margin-top: 0px;
  height: 190px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100vw;
}
.githubBtn {
  background-color: #e8c07d;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #293241;
  font-size: 13px;
  font-family: "Black Han Sans", sans-serif;
  margin-top: 90px;
  border-radius: 10px;
}

.instaBtn {
  background-color: #e8c07d;
  width: 200px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #293241;
  font-family: "Black Han Sans", sans-serif;
  font-size: 13px;
  border-radius: 10px;
  margin-top: 40px;
  margin: 0;
}

.typeImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
