.Result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 160vh;
  background-color: #293241;
  flex-direction: column;
  margin: 0;
}

.rsTop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 20vh;
}

.rsMid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
  color: white;
}

.rsBot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 60vh;
}

.good {
  margin: 0;
  border: 1px solid rgb(255, 255, 255);
  height: 180px;
  width: 130px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.bad {
  margin: 0;
  border: 1px solid rgb(255, 255, 255);
  height: 180px;
  width: 130px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.rsBtnCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.goodAndBad {
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: 300px;
}

.reBtn {
  background-color: #e0fbfc;
  color: #293241;
  width: 220px;
  border-radius: 50px;
  height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explainCon {
  color: white;
}

.snsBtn {
  margin-top: 20px;
}

p {
  margin: 0;
}
