body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

.Start {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #293241;
  flex-direction: column;
  margin: 0;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 30vh;
  margin-bottom: 50px;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vh;
  flex-direction: column;
  background-size: cover;
}

.bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 30vh;
}

.title {
  color: #e0fbfc;
  font-size: 30px;
  font-family: "Nanum Brush Script", cursive;
  margin: 0;
}

.sub {
  color: #e0fbfc;
  font-size: 35px;
  margin: 0;
  font-family: "Black Han Sans", sans-serif;
}

.copy {
  color: #e0fbfc;
  font-family: "Nanum Brush Script", cursive;
  margin-bottom: 90px;
}

.startBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-bottom: 40px; */
  background-color: #3d5a80;
  font-family: "Black Han Sans", sans-serif;
  color: #e0fbfc;
  font-size: 30px;
  border-radius: 15px;
  width: 200px;
  height: 90px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: -80px;
  /* margin-bottom: 30px; */
  z-index: 2;
}

.startBackground {
  position: relative;
  width: 390px;
  height: 450px;
  object-fit: cover;
  margin-top: 30px;
  margin-bottom: 10px;
  pointer-events: none;
  z-index: 1;
}
